build/
cmake-build-*/
*/build/

CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
compile_commands.json
.ninja_deps
.ninja_log
build.ninja

*.o
*.a
*.so
*.lo
*.la
*.dll
*.dylib

*.exe
*.out
*.app
*.obj

*.core

.idea/

xcuserdata

.vs/
.vscode/
*.vsix
*.sdf
*.suo

.DS_Store
Thumbs.db

*.pyc

*~
*.swp